https://www.perplexity.ai/search/388f6b0d-09f1-4ae9-9c3b-5e5163037109

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('world.csv',index_col='國家',usecols=['國家','日期','總確診數','新增確診數','新增死亡數'])
mask = df.index == "台灣"
taiwan = df[mask]
taiwan

In [ ]:
taiwan[taiwan['新增死亡數'] >= 100]

In [13]:
taiwan.to_csv('taiwan.csv',encoding='utf-8',index=True)

In [16]:
import numpy as np
import pandas as pd

df = pd.read_csv('world.csv',index_col='國家',usecols=['國家','日期','總確診數','新增確診數','新增死亡數'])
mask = df.index == "台灣","日本","韓國"
mask = df.index.isin(["台灣", "日本", "韓國"])
aisa = df[mask]
aisa

            日期     總確診數  新增確診數  新增死亡數
國家
日本  2020-01-22        2      0      0
日本  2020-01-23        2      0      0
日本  2020-01-24        2      0      0
日本  2020-01-25        2      0      0
日本  2020-01-26        4      2      0
..         ...      ...    ...    ...
台灣  2022-07-02  3837856  34807     96
台灣  2022-07-03  3870528  32672     88
台灣  2022-07-04  3893643  23115     69
台灣  2022-07-05  3929627  35984    103
台灣  2022-07-06  3964188  34561     95

[2697 rows x 4 columns]